.historyTable {
  width: 100%;
  margin-top: 8px;

  &__headerCell {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    letter-spacing: 0.17px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    padding: 16px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  &__cell {
    font-size: 14px !important;
    line-height: 143% !important;
    letter-spacing: 0.17px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    padding: 6px 16px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;

    &--win {
      color: #1b5e20 !important;
    }

    &--lose {
      color: #c62828 !important;
    }
  }
}
