.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  max-width: 320px;
  margin: 5px auto 0;
  background-color: #f0f0f0;
  border-radius: 4px;

  &__number {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-weight: 300;
    line-height: 117%;
    letter-spacing: -1.5px;
    color: rgba(0, 0, 0, 0.87);
  }
}
