.banner {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  padding: 13px 16px;
  border-radius: 4px;
  color: #fff;

  &--win {
    background-color: #2E7D32;
  }

  &--lose {
    background-color: #d32f2f;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.15px;
    color: #ffffff;
  }

  &__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.15px;
    color: #fff;
  }
}
